/* to obtain a better result, then set the these pisg options:
 *  <set hicell="#1a354d">
 *  <set hicell2="#444444">
 */

A
{
    TEXT-DECORATION: none
}
A:link
{
    COLOR: #b5c6d5
}
A:visited
{
    COLOR: #b5c6d5
}
A:hover
{
    COLOR: #ffffff;
    TEXT-DECORATION: underline
}
A.background
{
    TEXT-DECORATION: none
}
A.background:link
{
    COLOR: #b5c6d5
}
A.background:visited
{
    COLOR: #b5c6d5
}
A.background:hover
{
    COLOR: #ffffff;
    TEXT-DECORATION: underline
}
BODY
{
    FONT-SIZE: 13px;
    COLOR: #dedede;
    FONT-FAMILY: Verdana, Arial, sans-serif;
    BACKGROUND-COLOR: #000000
}
TD
{
    FONT-SIZE: 13px;
    COLOR: #dedede;
    FONT-FAMILY: Verdana, Arial, sans-serif;
    TEXT-ALIGN: left
}
.title
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 16px;
    FONT-FAMILY: Tahoma, Arial, sans-serif
}
.headtext
{
    FONT-WEIGHT: bold;
    COLOR: #dedede;
    BACKGROUND-COLOR: #6d0d14;
    TEXT-ALIGN: center
}
.headlinebg
{
    BACKGROUND-COLOR: #6d0d14
}
.tdtop
{
    BACKGROUND-COLOR: #718292
}
.hicell
{
    BACKGROUND-COLOR: #19354e
}
.hicell10
{
    FONT-SIZE: 10px;
    BACKGROUND-COLOR: #444444
}
.rankc
{
    BACKGROUND-COLOR: #444444
}
.hirankc
{
    FONT-WEIGHT: bold;
    BACKGROUND-COLOR: #545454
}
.rankc10
{
    FONT-SIZE: 10px;
    BACKGROUND-COLOR: #444444
}
.rankc10center
{
    FONT-SIZE: 10px;
    BACKGROUND-COLOR: #444444;
    TEXT-ALIGN: center
}
.hirankc10center
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    BACKGROUND-COLOR: #545454;
    TEXT-ALIGN: center
}
.small
{
    FONT-SIZE: 10px;
    FONT-FAMILY: Verdana, Arial, sans-serif
}
.asmall
{
    FONT-SIZE: 10px;
    COLOR: #dedede;
    FONT-FAMILY: "Arial narrow", Arial, sans-serif
    TEXT-ALIGN: center
}
