/* to obtain a better result, then set the these pisg options:
 *  <set hicell="#607080">
 *  <set hicell2="#8090a0">
 *
 * Theme by ICU (me at 1cu.de)
 */
   
A
{
    TEXT-DECORATION: none
}
A:link
{
    COLOR: #bdcddd
}
A:visited
{
    COLOR: #bdcddd
}
A:hover
{
    COLOR: #bdcddd;
    TEXT-DECORATION: underline;
    font-weight: none
}
A.background
{
    COLOR: none;
    TEXT-DECORATION: none
}
A.background:link
{
    COLOR: #314151
}
A.background:visited
{
    COLOR: #415161
}
A.background:hover
{
    COLOR: #003c60;
    TEXT-DECORATION: underline
}
BODY
{
    FONT-SIZE: 13px;
    COLOR: white;
    FONT-FAMILY: Verdana, Arial, sans-serif;
    BACKGROUND-COLOR: #647684;
    scrollbar-face-color: #647684;
    scrollbar-shadow-color: black;
    scrollbar-highlight-color: #647684;
    scrollbar-3dlight-color: black;
    scrollbar-darkshadow-color: #647684;
    scrollbar-track-color: #647684;
    scrollbar-arrow-color: black;
}
TD
{
    FONT-SIZE: 13px;
    COLOR: white;
    FONT-FAMILY: Verdana, Arial, sans-serif;
    TEXT-ALIGN: left
}
.title
{
    COLOR: white;
    FONT-WEIGHT: bold;
    FONT-SIZE: 16px;
    FONT-FAMILY: Tahoma, Arial, sans-serif
}
.headtext
{
    FONT-WEIGHT: bold;
    COLOR: white;
    BACKGROUND-COLOR: none;
    TEXT-ALIGN: center
}
.headlinebg
{
    BACKGROUND-COLOR: #344454
}
.tdtop
{
    BACKGROUND-COLOR: #445464
}
.hicell
{
    BACKGROUND-COLOR: #748494
}
.hicell10
{
    FONT-SIZE: 10px;
    BACKGROUND-COLOR: #94a4b4
}
.rankc
{
    BACKGROUND-COLOR: #748494
}
.hirankc
{
    FONT-WEIGHT: bold;
    BACKGROUND-COLOR: #94a4b4
}
.rankc10
{
    FONT-SIZE: 10px;
    BACKGROUND-COLOR: #748494
}
.rankc10center
{
    FONT-SIZE: 10px;
    BACKGROUND-COLOR: #748494;
    TEXT-ALIGN: center
}
.hirankc10center
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    BACKGROUND-COLOR: #94a4b4;
    TEXT-ALIGN: center
}
.small
{
    FONT-SIZE: 10px;
    FONT-FAMILY: Verdana, Arial, sans-serif
}
.asmall
{
    FONT-SIZE: 10px;
    COLOR: white;
    FONT-FAMILY: "Arial narrow", Arial, sans-serif
    TEXT-ALIGN: center
}

.male, .male a {
    color: #0000c7;
}

.female, .female a {
    color: #93006a;
}

.bot, .bot a {
    color: black;
}

